<!DOCTYPE html>
<html>
  <head>
    <title>TheProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <div class="footer">

      <%= link_to "https://www.facebook.com/stefan.galabov.3" do %>
        <%= image_tag 'fb-logo.png', class: 'footer-logos' %>
      <% end %>

      <%= link_to "https://www.instagram.com/stefangalabov/?hl=bg" do %>
        <%= image_tag 'insta-logo.png', class: 'footer-logos' %>
      <% end %>

    </div>
  </body>
</html>
