<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="javascripts/particles.js"></script>
    <script type="text/javascript">
      particlesJS("particles-js", "particlesjs-config.json");
    </script>
    <title>Home</title>
  </head>
  <body>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><%= link_to 'Training programs', programs_path %></li>

      <% if user_signed_in? %>
        <li class = "profile"><%= link_to current_user.email, edit_user_registration_path %></li>
        <li class = "profile"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class = "profile"><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li class = "profile"><%= link_to 'Sign In', new_user_session_path %></li>
      <% end %>

    </ul>

    <div id="main-text">
      <p><strong>So you wanna become a better version of yourself?</strong></p>

      <%= link_to "Yes, let's do this.", programs_path, id: "main-button" %>
    </div>

    <div class="footer">

      <%= image_tag 'fb-logo.png', class: 'footer-logos' %>
      <%= image_tag 'insta-logo.png', class: 'footer-logos' %>

    </div>

  </body>
</html>
