<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Programs</title>
  </head>
  <body>

    <div class = "container">
      <div class="program_button">
        <%= link_to "Create a new program",  new_program_path, id: "new_program_button" %>
      </div>

      <div class="programs">
        <% @programs.each do |program| %>
          <div class="program">
            <h2 class = "title-program" ><%= program.name %></h2>
            <div class="flex-container">
              <p class = "text-program"><%= program.description %></p>

              <div class="buttons_class">
                <%= image_tag program.image.url, :id => "image_id" %><br>
                <%= link_to "Download", program.document.url(:original, false) %>
                <%= link_to "Delete", program_path(program), method: :delete, data: {confirm: "Are you sure?"} %>
              </div>
            </div>
          </div>
          <br><br>
        <% end %>
      </div>

    </div>
  </body>
</html>
